@model IEnumerable<StatTracker.Models.TeamStatModels.TeamStatListItem>

@{
    ViewBag.Title = "Index";
}
<div class="correctionToTable">
    <h2>Team Stats</h2>
    <p>
        @using (Html.BeginForm("Index", "TeamStat", FormMethod.Get))
        {
            <b>Search Team: </b>
            @Html.DropDownList("TeamID", null, string.Empty, htmlAttributes: new { @class = "form-control" }) <br />

            <b>Search Season: </b> <br />
            @Html.TextBox("YearOfSeason") <br /> <br /> <input type="submit" value="Search" /><br /> <br />
        }
    </p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerPlays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerPlayGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerPlayPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PenaltyKills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PenaltyKillGoalsAgainst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PenaltyKillPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalsFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalsAgainst)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Win)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerPlays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerPlayGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerPlayPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyKillGoalsAgainst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyKillPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsAgainst)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamID, year = item.YearOfSeason, game = item.GameNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.TeamID, year = item.YearOfSeason, game = item.GameNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamID, year = item.YearOfSeason, game = item.GameNumber })
            </td>
        </tr>
    }

</table>

<style>
    .table {
        width: 95em;
        text-align: center;
        margin-left: -7%;
        font-family: Georgia;
    }

    h2 {
        font-family: Bahnschrift;
    }

    th {
        text-align: center;
    }

    .correctionToTable {
        margin-left: -7%;
    }
</style>