@model IEnumerable<StatTracker.Models.PlayerStatModels.PlayerStatListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Player Stats</h2>

<p>
    @using (Html.BeginForm("Index", "PlayerStat", FormMethod.Get))
    {
        <b>Choose Player: </b>
        @Html.DropDownList("PlayerID", null, string.Empty, htmlAttributes: new { @class = "form-control" }) <br />

        <b>Search Season: </b> <br />
        @Html.TextBox("YearOfSeason") <br /> <br />

        <input type="submit" value="Search" /><br /> <br />
    }
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShootingPercentage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShootingPercentage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID, year = item.YearOfSeason, game = item.GameNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerID, year = item.YearOfSeason, game = item.GameNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlayerID, year = item.YearOfSeason, game = item.GameNumber })
            </td>
        </tr>
    }

</table>

<style>
    .table {
        text-align: center;
        font-family: Georgia;
    }

    h2 {
        font-family: Bahnschrift;
    }

    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #a6a9ab;
    }
</style>